
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holiday Greetings</title>
</head>
<body>
  <div style="display: flex; width:100%; max-height: 400px; flex-direction:row;justify-content: center;align-content:center;">
  <div style="display: flex; max-width:70%; ">
    <pre style="font-size: 15px;font-family:'Times New Roman', Times, serif"> {{msg}} 
      <h3>From: {{sender_name}}</h3>
    </pre>
    
  </div>
  <div style="display: flex; max-width:30%;">
     <img src={{img}} style="height:80%;width:100%;object-fit: contain;" alt="holiday" />
  </div>
 </div>
</body>
</html>