<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Sent</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 500px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            border: 2px solid #ccc;
            
            margin-top: 20px;
           
        }
        
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }
        
        h1 {
            color: #333;
            text-align: center;
        }
        
        .otp-box {
            background: linear-gradient(90deg, rgba(236, 83, 208, 0.5) 0%, rgba(167, 9, 169, 0.5) 39%, rgba(106, 4, 172, 0.5) 100%);
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin: 20px 0;
            max-width: 210px;
            margin: 0 auto;
            
        }
        
        .otp-digit {
            display: inline-block;
            width: 30px;
            height: 30px;
            color: rgb(0, 0, 0);
            border: 1px solid #ffffff;
            border-radius: 5px;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
            margin: 0 auto;
        }
        
        .secure-tips {
            margin-top: 20px;
            text-align: center;
        }
        
        .secure-tips p {
            font-size: 14px;
            color: #777;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img style="max-width: 180px;max-height:50px;margin-left:auto;margin-right:0;" src='https://www.brightcomgroup.com/wp-content/uploads/2021/02/logo.png' alt="logo" />

        </div>
        <h1>Validation Code</h1>
        <div class="otp-box">
            {{#each otp}}
                <div class="otp-digit">{{this}}</div>
            {{/each}}
        </div>
        <div class="secure-tips">
            <p>For security reasons, do not share your Validation Code with anyone.</p>
            <p>Ensure that you enter the Validation Code in a secure and trusted environment.</p>
        </div>
    </div>
</body>

</html>